/* GENERAL */
body{
  font-family: "Poppins", sans-serif;
  color: black;
}

a {
  color: black;
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Poppins", sans-serif;
}

nav{
  text-transform: uppercase;
}

/* HERO SECTION */
#hero {
  width: 100%;
  height: 80vh;
  background-color: rgba(59, 59, 59, 0.8);
  overflow: hidden;
  padding: 0;
  margin-bottom: -120px;
  position: relative;
  z-index: 1;
}

#hero .carousel-item {
  width: 100%;
  height: 80vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-position: center;
}

#hero .carousel-item::before {
  content: "";
  background-color: rgba(255, 255, 255, 0.6);
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
}

#hero .carousel-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
  padding-bottom: 120px;
}

#hero .carousel-content {
  text-align: center;
}

#hero h2 {
  color: #2e2e2e;
  font-size: 48px;
  font-weight: 700;
}

#hero p {
  width: 80%;
  -webkit-animation-delay: 0.4s;
  animation-delay: 0.4s;
  margin: 0 auto 15px auto;
  color: arken(#545454, 15);
  font-weight: 500;
}

#hero .carousel-inner .carousel-item {
  transition-property: opacity;
  background-position: center top;
}

#hero .carousel-inner .carousel-item,
#hero .carousel-inner .active.carousel-item-start,
#hero .carousel-inner .active.carousel-item-end {
  opacity: 0;
}

#hero .carousel-inner .active,
#hero .carousel-inner .carousel-item-next.carousel-item-start,
#hero .carousel-inner .carousel-item-prev.carousel-item-end {
  opacity: 1;
  transition: 0.5s;
}

#hero .carousel-inner .carousel-item-next,
#hero .carousel-inner .carousel-item-prev,
#hero .carousel-inner .active.carousel-item-start,
#hero .carousel-inner .active.carousel-item-end {
  left: 0;
  transform: translate3d(0, 0, 0);
}

#hero .carousel-control-prev,
#hero .carousel-control-next {
  width: 10%;
}

#hero .carousel-control-next-icon,
#hero .carousel-control-prev-icon {
  background: none;
  font-size: 48px;
  line-height: 1;
  width: auto;
  height: auto;
  color: #545454;
}

#hero .carousel-indicators li {
  cursor: pointer;
  background: #5DE282;
  overflow: hidden;
  border: 0;
  width: 12px;
  height: 12px;
  border-radius: 50px;
  margin-bottom: 180px;
  opacity: 0.2;
}

#hero .carousel-indicators li.active {
  opacity: 1;
}

@media (max-height: 768px),
(max-width: 1200px) {
  #hero {
    margin-bottom: 60px;
  }

  #hero .carousel-container {
    padding-bottom: 0;
  }

  #hero .carousel-indicators li {
    margin-bottom: 0;
  }
}

@media (max-width: 768px) {
  #hero {
    height: 90vh;
  }

  #hero .carousel-item {
    height: 90vh;
  }
}

@media (min-width: 1024px) {
  #hero p {
    width: 50%;
  }

  #hero .carousel-control-prev,
  #hero .carousel-control-next {
    width: 5%;
  }
}

/* SECTION GENERAL */
section {
  padding: 0 0 80px 0;
}

.section-bg {
  background-color: white;
}

.section-title {
  text-align: center;
  padding-bottom: 30px;
}

.section-title h2 {
  font-size: 28px;
  font-weight: 600;
  margin-bottom: 20px;
  padding-bottom: 20px;
  position: relative;
  font-family: "Poppins", sans-serif;
}

.section-title h2::after {
  content: "";
  position: absolute;
  display: block;
  width: 50px;
  height: 3px;
  background: #5DE282;
  bottom: 0;
  left: calc(50% - 25px);
}

.section-title p {
  margin-bottom: 0;
}

/* BREADCRUMBS */
.breadcrumbs {
  padding: 20px 0 20px 30px;
  background: #f1f1f1;
  /* border: 1px solid #EDEAEA; */
  width: 74%;
  margin: auto;
  margin-top: 35px;
  border-radius: 5px;
}

.breadcrumbs a {
  text-decoration: none;
  color: #6e6e6e;
  transition: 0.3s;
}

.breadcrumbs ol {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  padding: 0 0 5px 0;
  margin: 0;
  font-size: 14px;
}

.breadcrumbs ol li+li {
  padding-left: 10px;
}

.breadcrumbs ol li+li::before {
  display: inline-block;
  padding-right: 10px;
  color: #6e6e6e;
  content: "/";
}

.breadcrumbs a:hover {
  color: #5DE282;
}

/* ARTIKEL */
.artikel h2 {
  margin-top: 35px;
  margin-bottom: 25px;
  font-size: 18px;
  font-weight: 700;
  color: #545454;
}

.artikel #artikel-filters {
  padding: 0;
  margin: 0 auto 40px auto;
  list-style: none;
  text-align: center;
  background: white;
  border-radius: 50px;
  padding: 2px 15px;
}

.artikel #artikel-filters li {
  cursor: pointer;
  display: inline-block;
  padding: 8px 20px 12px 20px;
  font-size: 14px;
  font-weight: 500;
  line-height: 1;
  color: #444444;
  margin-right: 10px;
  transition: 0.3s;
  border-radius: 50px;
  background: #f2f2f2;
}

.artikel #artikel-filters li:hover,
.artikel #artikel-filters li.filter-active {
  background: #5DE282;
  color: white;
}

.artikel #artikel-filters li:last-child {
  margin-right: 0;
}

.artikel .artikel-box {
  border: 1px solid #ededed;
  box-shadow: 0px 0px 12px 0px rgba(0, 0, 0, 0.1);
  padding: 50px 20px;
  transition: all ease-in-out 0.3s;
  border-radius: 5px;
}

.artikel .artikel-box img {
    max-width: 100%;
    margin: -25px 0 20px 0;
}

.artikel .artikel-box h4 {
  font-weight: 700;
  margin-bottom: 10px;
  font-size: 16px;
}

.artikel .artikel-box h4 a {
  color: #545454;
  text-decoration: none;
}

.artikel .artikel-box .entry-content p {
  line-height: 24px;
  font-size: 12px;
  margin-bottom: 10px;
}

.artikel .artikel-box .entry-content .read-more {
  -moz-text-align-last: right;
  text-align-last: right;
}

.artikel .artikel-box .entry-content .read-more a {
  display: inline-block;
  background: #5DE282;
  color: white;
  padding: 8px 20px;
  transition: 0.3s;
  font-size: 12px;
  border-radius: 5px;
  text-decoration: none;
}

.artikel .artikel-box .entry-content .read-more a:hover {
  background: #6cf793;
}

.artikel .artikel-box .entry-meta {
  margin-bottom: 20px;
  color: #bababa;
}

.artikel .artikel-box .entry-meta ul {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  align-items: center;
  padding: 0;
  margin: 0;
}

.artikel .artikel-box .entry-meta ul li+li {
  padding-left: 20px;
}

.artikel .artikel-box .entry-meta i {
  font-size: 14px;
  margin-right: 8px;
  line-height: 0;
}

.artikel .artikel-box .entry-meta span {
  color: #777777;
  font-size: 12px;
  display: inline-block;
  line-height: 1;
}

.artikel .artikel-box h4 a:hover{
  color: #5DE282;
}

.artikel .sidebar-item {
  margin-bottom: 30px;
}

.artikel .search-form form {
  background: #fff;
  border: 1px solid #ddd;
  padding: 4px 75px;
  position: relative;
}

.artikel .search-form form input[type=text] {
  border: 0;
  padding: 4px 400px;
  border-radius: 4px;
  width: calc(100%-1px);

}

.artikel .search-form form input[placeholder] {
  font-size: 14px;
}

.artikel .search-form form button {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  border: 0;
  background: none;
  font-size: 14px;
  padding: 0 25px;
  margin: -1px;
  background: #5DE282;
  color: #fff;
  transition: 0.3s;
  border-radius: 0 4px 4px 0;
  line-height: 0;
}

/* .artikel .artikel-box:hover {
  background: #5DE282;
  border-color: #5DE282;
}

.artikel .artikel-box:hover .icon {
  background: #fff;
}

.artikel .artikel-box:hover .icon i {
  color: #5DE282;
}

.artikel .artikel-box:hover .icon::before {
  background: #9bfab6;
}

.artikel .artikel-box:hover h4 a,
.artikel .artikel-box:hover p,
.artikel .artikel-box:hover .entry-meta {
  color: #fff;
} */

/* DETAIL ARTIKEL */
.artikel-single {
  padding: 55px 0 20px 0;
  text-align: center;
}

.artikel-single .artikel {
  padding: 10px;
  margin-bottom: 60px;
}

.artikel-single .artikel .entry-img {
  max-height: 600px;
  max-width: 100%;
  margin: -30px -30px 20px -30px;
  overflow: hidden;
  margin-left: 0;
}

.artikel-single .artikel .entry-title {
  font-size: 24px;
  font-weight: 700;
  padding: 0;
  margin: 0 0 10px 0;
  text-align: left;
}

.artikel-single .artikel .entry-title a {
  text-decoration: none;
  color: #545454;
  transition: 0.3s;
}

.artikel-single .artikel .entry-title a:hover {
  color: #5DE282;
}

.artikel-single .artikel .entry-meta {
  margin-bottom: 40px;
  color: #bababa;
}

.artikel-single .artikel .entry-meta ul {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  align-items: center;
  padding: 0;
  margin: 0;
}

.artikel-single .artikel .entry-meta ul li+li {
  padding-left: 20px;
}

.artikel-single .artikel .entry-meta i {
  font-size: 14px;
  margin-right: 8px;
  line-height: 0;
}

.artikel-single .artikel .entry-meta span {
  color: #777777;
  font-size: 12px;
  display: inline-block;
  line-height: 1;
}

.artikel-single .artikel .entry-content p {
  line-height: 24px;
  font-size: 16px;
  margin-bottom: 15px;
  text-align: left;
}

/* PENGUMUMAN */
.pengumuman .pg-box {
  padding: 20px 0 20px 38px;
  background: #f1f1f1;
  width: 97%;
  margin: auto;
  margin-top: 20px;
  border-radius: 5px;
  transition: 0.3s;
}

.pengumuman h2 {
  margin-top: 35px;
  margin-bottom: 20px;
  font-size: 18px;
  font-weight: 700;
  color: #545454;
}

.pengumuman .pg-box .entry-title {
  font-weight: 700;
  margin:0 0 10px 0;;
  font-size: 14px;
  color: #545454;
}

.pengumuman .pg-box .entry-title a {
  color: #545454;
  text-decoration: none;
}

.pengumuman .pg-box .entry-meta {
  margin: auto;
  color: #bababa;
}

.pengumuman .pg-box .entry-meta ul {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  align-items: center;
  padding: 0;
  margin: 0;
}

.pengumuman .pg-box .entry-meta ul li+li {
  padding-left: 20px;
}

.pengumuman .pg-box .entry-meta i {
  font-size: 14px;
  margin-right: 8px;
  line-height: 0;
}

.pengumuman .pg-box .entry-meta span {
  color: #777777;
  font-size: 12px;
  display: inline-block;
  line-height: 1;
}

.pengumuman .pg-box:hover {
  background: #5DE282;
  border-color: #5DE282;
}

.pengumuman .pg-box:hover h4 a,
.pengumuman .pg-box:hover .entry-meta,
.pengumuman .pg-box:hover .entry-meta span {
  color: white;
}

/* DETAIL-PENGUMUMAN */
.pg-single {
  padding: 55px 0 20px 0;
  text-align: center;
}

.pg-single .pg-detail {
  padding: 10px;
  margin-bottom: 60px;
}

.pg-single .pg-detail .entry-title {
  font-size: 24px;
  font-weight: 700;
  padding: 0;
  margin: 0 0 10px 0;
  text-align: left;
}

.pg-single .pg-detail .entry-title a {
  text-decoration: none;
  color: #545454;
  transition: 0.3s;
}

.pg-single .pg-detail .entry-title a:hover {
  color: #5DE282;
}

.pg-single .pg-detail .entry-meta {
  margin-bottom: 40px;
  color: #bababa;
}

.pg-single .pg-detail .entry-meta ul {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  align-items: center;
  padding: 0;
  margin: 0;
}

.pg-single .pg-detail .entry-meta ul li+li {
  padding-left: 20px;
}

.pg-single .pg-detail .entry-meta i {
  font-size: 14px;
  margin-right: 8px;
  line-height: 0;
}

.pg-single .pg-detail .entry-meta span {
  color: #777777;
  font-size: 12px;
  display: inline-block;
  line-height: 1;
}

.pg-single .pg-detail .entry-content p {
  line-height: 24px;
  font-size: 16px;
  margin-bottom: 15px;
  text-align: left;
}

/* MY POSTS */
.my-posts h2 {
  margin-top: 35px;
  margin-bottom: 25px;
  font-size: 18px;
  font-weight: 700;
  color: #545454;
}

.my-posts p {
  font-size: 16px;
  color: #545454;
  margin-bottom: 30px;
}

.my-posts .new-post a, 
.pengumuman .new-post a {
  display: inline-block;
  background: #5DE282;
  color: white;
  padding: 8px 20px;
  transition: 0.3s;
  font-size: 14px;
  border-radius: 4px;
  text-decoration: none;
}

.my-posts .new-post a:hover, 
.pengumuman .new-post a:hover{
  background: #6cf793;
}

.my-posts .sidebar-item, 
.pengumuman .sidebar-item {
  margin-bottom: 30px;
}

.my-posts .search-form form, 
.pengumuman .search-form form {
  background: #fff;
  border: 1px solid #ddd;
  padding: 4px 20px;
  position: relative;
}

.my-posts .search-form form input[type=text], 
.pengumuman .search-form form input[type=text] {
  border: 0;
  padding: 4px 20px;
  border-radius: 4px;
  width: calc(100% - 30px);
}

.my-posts .search-form form input[placeholder],
.my-posts .search-form form input[placeholder] {
  font-size: 14px;
}

.my-posts .search-form form button, 
.pengumuman .search-form form button {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  border: 0;
  background: none;
  font-size: 14px;
  padding: 0 15px;
  margin: -1px;
  background: #5DE282;
  color: #fff;
  transition: 0.3s;
  border-radius: 0 4px 4px 0;
  line-height: 0;
}

.my-posts .table {
  border: #5DE282;
  color: #545454;
  margin-bottom: auto;
}
.my-posts .table thead {
  background: #5DE282;
  border: #5DE282;
}

.my-posts .table thead tr th {
  color: white;
}

.my-posts .table tbody tr td img {
  max-width: 200px;
  max-height: 200px;
}

/* NEW POST */
.new-post h2 {
  margin-top: 35px;
  margin-bottom: 25px;
  font-size: 18px;
  font-weight: 700;
  color: #545454;
}

.new-post .form-group label {
  font-size: 14px;
  font-weight: 500;
  color: #545454;
  margin-bottom: 5px;
}

.new-post .form-group input[placeholder] {
  font-size: 12px;
}

.new-post .form-group input {
  margin-bottom: 15px;
}

.new-post .form-group .form-control {
  font-size: 12px;
  margin-bottom: 15px;
  color: #545454;
}

.new-post .form-group .form-control-file {
  font-size: 12px;
  margin-left: 10px;
  margin-bottom: 40px;
  color: #545454;
}

.new-post button[type=submit] {
  padding: 8px 25px;
  border: 1px solid #5DE282;
  background: #5DE282;
  color: white;
  border-radius: 5px;
  transition: 0.3s;
  text-decoration: none;
  font-size: 14px;
  margin-right: 10px
}

.new-post button[type=submit]:hover {
  background: #6cf793;
  border: 1px solid #6cf793;
}

.new-post button[type=button] {
  padding: 8px 25px;
  border: 1px solid #5DE282;
  color: #5DE282;
  background: transparent;
  border-radius: 5px;
  transition: 0.3s;
  text-decoration: none;
  font-size: 14px;
}

.new-post button[type=button]:hover {
  background-color: #5DE282;
  color: white;
  border: 1px solid #5DE282;
}

/* SHARE ARTIKEL */
.artikel-single h6 {
  font-size: 16px;
  color: #545454;
  margin-left: -2px;
  margin-bottom: 40px;
  margin-top: -30px;
  text-align: left;
}

.artikel-single .social-links {
  margin-bottom: 40px;
  margin-top: -30px;
}

.artikel-single .social-links a {
  margin-left: 20px;
  color: #545454;
  transition: 0.3s;
}

.artikel-single .social-links a:hover {
  border: 1px solid #5DE282;
  background: #5DE282;
  padding: 4px;
  color: white;
}

/* PAGINATION */
.pagination .page-link {
  width: 34px;
  height: 34px;
  padding: 6px 0;
  margin-right: 10px;
  color: #5DE282;
  font-size: 16px;
  border: 1px solid #5DE282;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}

.pagination .page-link:hover,
.pagination .page-link:focus,
.pagination .page-item.active .page-link{
  background-color: #5DE282;
  border: 1px solid #5DE282;
  color: white;
  border-radius: 5px;
}


/* ARSIP ARTIKEL */
.my-posts #artikel-filters {
  padding: 0;
  margin: 0 auto 40px auto;
  list-style: none;
  text-align: center;
  background: white;
  border-radius: 50px;
  padding: 2px 15px;
}

.my-posts #artikel-filters li {
  cursor: pointer;
  display: inline-block;
  padding: 8px 20px 12px 20px;
  font-size: 14px;
  font-weight: 500;
  line-height: 1;
  color: #444444;
  margin-right: 10px;
  transition: 0.3s;
  border-radius: 50px;
  background: #f2f2f2;
}

.my-posts #artikel-filters li:hover,
.my-posts #artikel-filters li.filter-active {
  background: #5DE282;
  color: white;
}

.my-posts #artikel-filters li:last-child {
  margin-right: 0;
}

.card-profil{
  border: 1px solid black;
  border-radius: 20px;
  min-height: 200px;
  padding: 20px;
  margin-bottom: 20px;
}

.card-profil img{
  width: 300px;
}

.arikel-kotak{
  min-height: 500px;
  /* border: solid black 1px; */
}

.text-artikel{
  color: #7a7a7a;
  font-size: 25px;
  text-shadow: 0 0 1px #5DE282;
}

.artikel .photo-profil {
  margin-bottom: 60px;
  text-align: center;
}

.artikel .photo-profil img {
  max-width: 100%;
  max-height: 100%;
}